

.registerSendDeac {
    background-color: rgb(163, 10, 10);
    border-radius: 0.2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerSendAct {
    cursor: not-allowed;
    background-color: rgb(0, 106, 125);
}

.registerSendAct:hover {
    transition: 1s;
    background-color: rgb(9, 0, 75);
}


.errorDiv {
    color: rgb(231, 62, 0);
    font-family:'Times New Roman', Times, serif
}


.formRegister {
    justify-content: center;
    width: 20em auto;
    padding: 1em;
    color: rgb(4, 4, 225);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.divPrincipal {
    color: red;
}

.registerForm {
    color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
}