
body {
  background-color: rgb(234, 234, 234);
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  min-height: 100vh;
}

.BannerHome {
  height: 5rem;
  background-color: #9ae66e;
  margin: 0;
  color: #2c272e;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.asd {
  margin: 0;
}

.navbarstyle {
  font-size: large;
  color: rgb(102, 88, 151);
  background-color: #753188;
  border-bottom: 5px solid (145, 165, 172);
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  color: red;
  z-index: 1;
}

.NavBar {
  display: flex;
  justify-content: flex-start !important;
}

.navBarTextColor {
  color: white !important;
}

.dropdown-menu {
  background-color: #753188 !important; 
}

.dropdown-menu a:hover {
  background-color: #601175 !important;
}

.NavbarLogo {
  display: flex;
  justify-content: flex-end !important;
}

.imgLogo {
  border: none;
  box-shadow: none;
  width: 7rem;
  height: auto;
  justify-content: left;
  display: flex;
}

.text-success {
  color: #9ae66e !important ;
}
.test123 {
  color: rgb(147, 38, 131);
}

.footerBottom {
  background-color: #753188;
  position: static;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 2rem;
}

.Header {
  background-color: #9ae66e;
  color: white;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items:end;
  height: 3.8rem;
}

.CardGames,
.CardGamesUser,
.CardGamesReview {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 20rem;
  border-radius: 2rem;
  border-color: #0069d9;
  border-style: groove;
}

.CardNews {
  display: flex;
  flex-direction: column;
  background-color: #9AE66E;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.imgNews {
  height: 20rem auto;
  width: 20rem auto;
  max-width: 50rem;
}

.CardGames {
  background-color: #753188;
  color: #e2dbdb;
}

.ButtonModalGames,
.buttonModalProfile {
  justify-content: space-between;
  display: flex;
  margin-top: 1em;
  margin-bottom: 0.6em;
}

.ButtonModalReviews {
  justify-content: space-around;
  display: flex;
  margin-bottom: 0.6em;
}

.textoHeader {
  color: rgb(133, 129, 129);
  display: flex;
  align-items: center !important;
  justify-content: center;
}

.divNewGame {
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgb(5, 5, 196);
}

.buttonRegisterGame {
  justify-content: center;
  align-items: center;
  display: flex;
}

.getAllUsers {
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.getAllUsersCard{
  background-color: #E59934;
  border-radius: 2rem;
}

.CardUserDetails {
  font-size: larger;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.CardUserDetailsList{
  background-color: #E59934;
}

.userDetailsTextTitle{
  color: #090909;
}
.userDetailsTextChild{
  color: #020202;
}

/* Home Layout ....................................................*/

.container-fluid {
  background-color: #f2f2f2;
}

.HeaderDiv {
  border: none;
}

h3 {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1.7rem;
  color: #2c272e;
}

h4 {
  font-variant: small-caps;
  color: #2c272e;
  font-size: xx-large;
}

h5 {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

img {
  border: 5px solid #2c272e;
  box-shadow: 2px 2px 5px #ccc;
}

/* Register and Login Layout ....................................................*/
.registerSendAct {
  background-color: rgb(0, 106, 125);
}

.registerSendDeac {
  cursor: not-allowed;
  background-color: rgb(143, 7, 7);
  border-radius: 0.2em;
  color: white;
}

.registerSendDeac:hover {
  transition: 1s;
  background-color: rgb(9, 0, 75);
  cursor: not-allowed;
}

.errorDiv {
  color: rgb(34, 0, 255);
}

.text-uppercase {
  color: #f9f9f9;
}

.AllRegisterForm,
.AllLoginForm,
.NewReview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: auto;
  min-height: 49vh;
}

h5 {
  color: rgb(150, 123, 246);
}

.FormRegister,
.FormLogin {
  width: 20em auto;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.cardRegister{
  background-color: #E59934 
}

.ButtonRegister,
.ButtonLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divWellcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Profile Layout ....................................................*/

.divProfile {
  display: flex;
  justify-content: center;
  margin-top: 71px;
  margin-bottom: 71px;
}

.card {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #ccc;
  padding: 20px;
}

.profileTextTitle {
  font-weight: bold;

}

.cardPofile{
  background-color: #9AE66E;
}

.profileTextChild {
  margin-left: 10px;
}
/* Profile Modal Password Layout ....................................................*/

.ChangePassword {
  justify-content: center;
}

/* Profile Modal Update Layout ....................................................*/

.updateProfile {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  transition: border-color 0.3s;
  justify-content: center;
  align-items: center;
}

.buttonUpdateUpdate {
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Get ALl Games Admin Modal Update Layout ....................................................*/

.form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.inputLogin {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: border-color 0.3s;
}

.inputLogin:focus {
  border-color: #007bff;
}

.botonModificar,
.botonNewReview,
.buttonDeleteReviewUser {
  text-align: center;
  margin-top: 20px;
}

.botonModificar button {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.trashBin {
  background-color: rgb(110, 103, 103);
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.botonModificar button:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.inputtest {
  color: red;
  height: 20rem;
}

.buttonDeleteReviewModal {
  display: flex;
  position: sticky;
  justify-content: space-between;
}

/* Get ALl Games User Layout ....................................................*/

.ButtonDivFavouriteGame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonFavorite {
  cursor: pointer;
  border-radius: 25px;
  background-color: rgb(174, 78, 9);
}

.ButtonDivNonUserFavouriteGame {
  display: flex;
  justify-content: center;
}

.buttonFavoriteFalse {
  cursor: not-allowed !important;
  border-radius: 25px;
  background-color: rgb(174, 78, 9);
}

/* Get ALl Reviews User Layout ....................................................*/

.gameTitle {
  color: #E59934;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-card {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.icon {
  margin-right: 10px;
}
.label {
  margin-right: 5px;
  font-weight: bold;
}
.value {
  font-size: 18px;
}

.CardAllReviews {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #E59934;
  border-radius: 40px;
  border-color: #0069d9;
  border-style: groove;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.ejemplo2 {
  justify-content: center;
}

.textColor {
  color: #fbfbfb;
  margin-right: 0.5rem;
}

.texGetAllNews {
  color: #0c0b0b;
  margin-right: 0.5rem;
}

.CardNewGame {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 15px;
  border-color: #0069d9;
  border-style: groove;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 50rem;
  display: flex;
  justify-content: center;
  background-color: #9AE66E ;
}

.NewGameDiv {
  display: flex;
  justify-content: center;
}

img,
.img-fluid {
  pointer-events: none !important;
}

.modalReview{
  background-color: transparent !important;
}
