
.container-fluid {
  background-color: #f2f2f2;
}

h3 {
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
}

h4 {
  /* background-color: blue; */
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  font-variant: small-caps;
  color: rgb(18, 50, 88);
  font-size: xx-large;
}

h5 {
  font-size: 20px;
  margin-top: 20px;
}

img {
  border: 5px solid #055d68;
  box-shadow: 2px 2px 5px #ccc;
}
